.customMainRow {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 799px) {
    .customCol {
        margin-left: 10%;
        margin-rightt: 10%;
        width: 80%; /* 화면 폭이 작아질 때 한 열로 변경 */
    }
}

@media (min-width: 800px) {
    .customCol {
        width: calc(100% / 3); /* 화면 폭이 커질 때 3열로 표시 */
    }
}

.customColImg {
    width: 90%;
    height: auto;
    max-height: 300px; /* 이미지의 최대 높이를 조정 */
    object-fit: contain; /* 이미지 비율 유지 */
    margin-bottom: 10px; /* 이미지 간 간격 설정 */
}