.customMainRow {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 899px) {
    .customCol {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%; /* 화면 폭이 작아질 때 한 열로 변경 */
    }
}

@media (min-width: 900px) {
    .customCol {
        width: calc(100% / 3); /* 화면 폭이 커질 때 3열로 표시 */
    }
}

.customCol {
    display: grid;
    margin-bottom: 20px; /* 공간을 주기 위해 아래쪽 여백 추가 */
}

.customColImg {
    width: 90%;
    height: 90%;
    max-height: 300px;
    object-fit: contain;

}
.customColProductText{

}
.customColProductTitle {
    font-size: 24px;
    font-weight: bold;
}

.customColProductPrice {
    font-size: 18px;
    margin-top: auto; /* 제품 가격을 부모 요소의 아래쪽으로 이동시킵니다. */
}

.customColProductRemainAmount {
    font-size: 14px;
    color: red;
    margin-top: auto; /* 남은 수량을 부모 요소의 아래쪽으로 이동시킵니다. */
}