.btnPurchase {
    padding: 10px 30px;
    background-color: #6666ff;
    color: white;
    border-color: #6666ff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btnPurchase:hover {
    background-color: #3333ff;
}

.addCart {
    padding: 10px 30px;
    color: #6666ff;
    border-color: #6666ff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ffffff;
}

.addCart:hover {
    color: #3333ff;
}
.d1 {
    animation: loadEffect1 0.5s ease-in-out;
}

.d2 {
    animation: loadEffect2 0.5s ease-in-out;
}
.d3 {
    animation: loadEffect3 0.5s ease-in-out;
}
@keyframes loadEffect1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loadEffect2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loadEffect3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.productDetailImage {
    width: 50%; /* 이미지 너비 100%로 설정 */
    height: auto; /* 높이 자동으로 조정하여 비율 유지 */

    margin: 0 auto; /* 이미지를 가로로 가운데 정렬 */
    max-width: 600px;

}

@media (max-width: 899px) {
    .customRow {
        flex-direction: column;
    }
    .customColImage,
    .customColContent {
        max-width: 600px;
        width: 100%;
    }
}
.customProductDetailPage{
    margin-top: 3vh;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}
.customRow {

    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center; /* 추가: 수직 가운데 정렬 */
    margin-bottom: 1vh;
}

.customColImage{
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    display: block;
    object-fit: contain; /* 이미지 비율 유지 */
}

.productDetailTitle{
    font-size: 24px;
    font-family: "KBO_Dia_Gothic_bold", serif;
}
.productDetailDetail{
    font-size: 16px;
    font-family: "NanumSquareNeo_Lite", serif;
}
.productDetailPrice{
    font-size: 18px;
    font-family: "LINESpeedKR_Regular", serif;
}

.productQuantityBtn{
    background-color: white;
    border: none;
    margin-bottom: 0.8vh;
}
.productPlusMinusIcon{
    width: 18px;
}
.customColContent {
    width: 50%;
    text-align: center; /* 추가: 내용 가운데 정렬 */
}
.customTabDetailTitle{
    font-size: 28px;
    font-family: "KBO_Dia_Gothic_bold", serif;
}
.customTabDetailDetail{
    font-size: 18px;
    font-family: "NanumSquareNeo_Lite", serif;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 2px solid #cccccc;
    background-color: white;
    padding: 20px;
    text-align: center; /* 텍스트를 중앙 정렬합니다. */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 아래에 여백을 추가하기 위해 사용합니다. */
}


.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어둡게 투명한 검은 배경 */
    z-index: 999; /* 모달 위에 표시하기 위해 z-index 설정 */
}


.modalContent {
    align-items: ;
}

.modalText{

}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #666666;
}

.toCartButton {
    font-size: 14px;
    font-weight: bold;
    background-color: #6666ff;
    margin-bottom: 10px; /* 버튼 아래 여백을 추가합니다. */
    width: 130px;
    height: 30px;
    color: white;
    border-color: #6666ff;
    border-radius: 10px;
    cursor: pointer;
}