.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.redirectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contentWrapper {
  text-align: center; /* 텍스트 중앙 정렬 */
}

.navbar {
  width: 100%;
  background-color: #F6F6F6;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navImg {
  width: 100px;
  margin-left: 15%;
}

.navbarMenuLeft {
  color: #333333;
  font-size: 22px;
  text-decoration: none;
  margin-right: 20px;
}

.navbarMenuRight {
  color: #333333;
  font-size: 22px;
  text-decoration: none;
  margin-left: 20px;
}

.navbarMenuGroup {
  width: 100px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbarMenuRightGroup {
  width: 200px;
  margin-right: 15%;
  display: flex;
  align-items: center;
  margin-left: auto;
}


{/*.main-bg {
  height:300px;
  background-image:url('./img/YU Shop.png');
  background-size: cover;
  background-position:center;
}*/}