.errorImage1 {
    width: 15%; /* 이미지 너비 100%로 설정 */
    height: auto; /* 높이 자동으로 조정하여 비율 유지 */

    margin: 0 auto; /* 이미지를 가로로 가운데 정렬 */
    max-width: 800px;

}
.errorImage2 {
    max-width: 30%; /* 이미지가 부모 요소를 넘지 않도록 설정 */
    max-height: 30%; /* 이미지가 부모 요소를 넘지 않도록 설정 */
    object-fit: cover;
    margin: 0 auto; /* 이미지를 가로로 가운데 정렬 */
}

.errorText1 {
    padding-top:15px;
    font-size: 30px;
}

.errorText2 {
    padding-top:3px;
    font-size: 16px;
}